// color variables 
$c-primary-main: #00C896;
$c-primary-dark: #00B187;
$c-primary-light: #00E4AE;
$c-secondary-main: black;
$c-secondary-light: rgba(10, 10, 10, 0.7);;
$c-secondary-disabled: #222;

// font family varibales
$f-family-main: 'Merriweather Sans', sans-serif;
$f-family-primary: 'Merriweather', serif;
$f-family-secondary: 'Ubuntu', sans-serif;



// font weight variables
$f-weight-main: bold;
$f-weight-primary: 300;
$f-weight-secondary: 400;
$f-weight-success: 700;

// font size variables
$f-size-main: 50px;
$f-size-primary:24px;
$f-size-secondary: 40px;
$f-size-light: 20px;
$f-size-third: 18px;
$f-size-success: 25px;
$f-size-dark: 22px;
$f-size-disabled: 20px;
$f-size-fourth: 35px;
$f-size-fifth: 13px;
$f-size-sixth: 30px;
$f-size-seventh: 15px;

